
<h1> <%= action_name %> </h1>
<%# form_with url: "/books", method: :post, class: "book-form" do |f|%>

<% if @book.errors.any? %>
<!-- {
  title: ['Must be unique', 'must be longer than 5 characters'],
  author: ['must exist']
} -->
  <ul class="errors">
    <% @book.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book, class: "book-form"  do |f|%>
  <p>Please provide the following information to save your book to our database:</p>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author_id, "Author" %>
  <%= f.select :author_id, Author.author_list %>
  <section class="description-section">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </section>
  <%#= f.select :author_id, [ ['Bob', 1], ['Ada', 2], ['JK', 42]  ] %>

  <%# f.text_field :author %>

  <%# f.hidden :creator, value: 'Divya' %>

  <%= f.submit button_title, class: "book-button" %>
<% end %>
