<% if @book.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@book.title %></h1>
  <h3> by <%= @book.author %></h3>
  <p><%= @book.description %> </p>
  <a href=<%="books/#{@book.id}/edit"%>>
    Edit
  </a>
  <div></div>
  <%= link_to "Delete #{@book.title}", book_path(@book.id), method: :delete %>
<% end %>
