<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooksNodes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="flash">
        <% flash.each do |name, message| %>
          <% if message.class == Array %>
            <% message.each do |msg| %>
              <div class="alert-<%= name %>">
                <strong><%= "#{name}:" %></strong><%= " #{msg}" %></div>
            <% end %>
          <% else %>
            <div class="alert-<%= name %>">
                <%= message %>
            </div>
          <% end %>
        <% end %>

        <% if @current_user %>
          <h2>Welcome <%= @current_user.name %> </h2>
        <% end %>
      </section>
      <h1>Welcome to Ada Books!</h1>
      <nav>
        <ul>
          <li>
            <%= link_to  "Home", "/", id: "home-link" %>
          </li>
         <li>
           <%= link_to "Books Index", books_path %>
         </li>
         <li>
           <%= link_to "Authors Index", authors_path %>
         <li>
           <a href="<%= new_book_path%>">
             Add a book
           </a>
         </li>
         <li>
         <% if session[:user_id] %>
           <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
           <%= link_to "Login", login_path %>
        <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
