<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooksNodes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Ada Books!</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
         <li>
           <a href="/books">Books Index</a>
         </li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
