<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooksNodes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= flash[:errors] %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |field, msg| %>
          <strong><%= field %>:</strong> <%= msg %>
        <% end %>
      <% end %>
      <h1>Welcome to Ada Books!</h1>
      <nav>
        <ul>
          <li>
            <%= link_to  "Home", "/", id: "home-link" %>
          </li>
         <li>
           <%= link_to "Books Index", books_path%>
         </li>
         <li>
           <a href="<%= new_book_path%>">
             Add a book
           </a>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
